# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.venv/
venv/

# Database
*.db
*.db-shm
*.db-wal

# Archives / binaries
*.zip
*.rar
*.pptx
*.xlsx

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
